/* stylelint-disable */

// n is number of stars required
@function multiple-box-shadow($n) {
    $value: '#{random(2000)}px #{random(2000)}px #FFF';
    @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
    }

    @return unquote($value);
}
$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

@keyframes animStar {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-2000px);
    }
}

.home-hero {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #101127 100%);

    #stars {
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
        animation: animStar 50s linear infinite;

        &::after {
            position: absolute;
            top: 2000px;
            width: 1px;
            height: 1px;
            content: '';
            background: transparent;
            box-shadow: $shadows-small;
        }
    }

    #stars2 {
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
        animation: animStar 100s linear infinite;

        &::after {
            position: absolute;
            top: 2000px;
            width: 2px;
            height: 2px;
            content: '';
            background: transparent;
            box-shadow: $shadows-medium;
        }
    }

    #stars3 {
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-big;
        animation: animStar 150s linear infinite;

        &::after {
            position: absolute;
            top: 2000px;
            width: 3px;
            height: 3px;
            content: '';
            background: transparent;
            box-shadow: $shadows-big;
        }
    }
    @media #{$xl} {
        height: 996px !important;
        border-radius: 0 0 35rem;
        //animation: header-image-animation linear forwards;
        //animation-timeline: view();
        //animation-range: exit;

        .acfm-hero__container {
            max-width: 166rem;
            min-height: 65em !important;
            padding: 0;
        }

        #hero-robot {
            position: relative;
            z-index: 1;
        }

        p {
            padding: 0 !important;
        }
    }

    //@media #{$xxl} {
    //    transform: translateX(6rem);
    //}

    .acfm-hero__container {
        z-index: 99;
    }

    @media #{$until_md} {
        .acfm-bg-image {
            background-position: top !important;
        }

        h1,
        .acfm-text {
            color: $brand_white;
        }

        .acfm-btn-primary {
            color: $brand_white;
            border: 2px solid $brand_white;
        }
    }
}

.contact-hero {
    .acfm-hero__container {
        @media #{$xl} {
            padding: 10em 0 5em;
            margin-bottom: 0;
        }
    }
}

.acfm-hero {
    position: relative;
    height: auto;
    overflow: hidden;

    &.acfm-z-index--minus {
        z-index: -1;
    }

    &__wrapper {
        position: relative;
        padding: 1em 0;
    }

    i {
        font-style: normal;
        color: $brand_primary;
    }

    p {
        @media #{$lg} {
            padding: 0 20rem;
        }
    }

    &__container {
        position: relative;
        z-index: 3;
        //z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;

        @media #{$xl} {
            padding: 25rem 0 5rem;
        }
    }
    .acfm-bg-video-bg {
        z-index: 99;
        background: rgba(0, 0, 0, 0.4);
    }
}

.hero-img {
    position: absolute;
    left: 48%;
    width: 87%;
    object-fit: cover;
}

.acfm-bg-video {
    position: relative;

    video {
        position: absolute;
        right: 0;
        display: none;
        width: 100%;
        overflow: hidden;

        @media #{$lg} {
            display: block;
        }
    }

    &-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        opacity: 0.6;
    }
}

.border-bottom {
    border-bottom: 4px solid $brand_primary;
}

@media #{$xl} {
    .right-position {
        position: relative;
        right: 10rem;
        white-space: nowrap;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes header-image-animation {
    25% {
        opacity: 1;
    }
    85%,
    100% {
        opacity: 0;
        scale: 1.5;
    }
}

.about-us {
    @media #{$lg} {
        border-radius: 0 0 30rem;
    }

    .acfm-hero__container {
        padding-bottom: 10rem;
    }

    .acfm-row {
        padding: 10rem 0;
    }
}
.acfm-col-lg-12 {
    p {
        padding: 0;
    }
}
