/* stylelint-disable */

.acfm-list-black-card {
    padding: 0;

    &__item {
        padding: 1.5rem 2rem;
        margin: 3rem 0;
        text-align: start;
        list-style: none;
        background: #484b55;
        border-radius: 1.5rem;
    }

    &__title {
        width: max-content;
        font-weight: 600;
        border-bottom: 2px solid $brand_primary;
    }

    &__text {
        padding-top: 1rem;
    }
}

@media #{$md} {
    .left-col {
        .acfm-list-black-card__item {
            @include fadeIn-right-onScroll();
        }
    }
    .right-col {
        .acfm-list-black-card__item {
            @include fadeIn-left-onScroll();
        }
    }
}
