/* stylelint-disable */

// n is number of stars required
@function multiple-box-shadow($n) {
    $value: '#{random(2000)}px #{random(2000)}px #FFF';
    @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
    }

    @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

@keyframes animStar {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-2000px);
    }
}

.planets-container {
    background: #101127;

    .acfm-planets {
        display: flex;

        &-img {
            width: 10%;
            height: 10%;
        }
    }

    .acfm-image:has(.rocket) {
        transform: rotate(90deg);
        .rocket {
            transform: rotate(90deg);
            animation: levitating 2s infinite alternate;
        }
    }
}

.stars {
    position: fixed;
    left: 12%;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 50s linear infinite;

    &::after {
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        content: '';
        background: transparent;
        box-shadow: $shadows-small;
    }
}

.stars2 {
    position: fixed;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;

    &::after {
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        content: '';
        background: transparent;
        box-shadow: $shadows-medium;
    }
}

.stars3 {
    position: fixed;
    left: 25%;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 150s linear infinite;

    &::after {
        position: absolute;
        top: 2000px;
        width: 3px;
        height: 3px;
        content: '';
        background: transparent;
        box-shadow: $shadows-big;
    }
}

@keyframes levitating {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30px);
    }
}
