// stylelint-disable
@mixin button {
    position: relative;
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 4rem;
    padding: 2.5rem 5rem 2.5rem 3rem;
    margin: 0.5rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid $brand_primary;
    border-radius: $brand_button_radius;
    transition: all 0.2s ease-in;
    svg.svg-arrow {
        position: absolute;
        top: 1.5rem;
        left: 78%;
        transition: all 0.3s ease-out;
        fill: currentColor;
    }
}

@mixin buttonEffect($color, $border_colored) {
    &:hover,
    &:focus {
        color: $color;
        background: transparent;
        border: 1px solid $border_colored;
    }
}

.ripple {
    position: absolute;
    pointer-events: none;
    background: $brand_white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: ripples 1s linear;
}

@keyframes ripples {
    0% {
        width: 0;
        height: 0;
        opacity: 0.2;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

@mixin button_sm {
    height: em(30, 16);
}

@mixin button_lg {
    @include font-size-sm();
    height: em(55, 18);
}

@mixin button_secondary {
    @include button();
    overflow: hidden;

    color: $brand_white;
    border: 2px solid $brand_white;
    .acfm-btn__label {
        z-index: 10;
    }

    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: $brand_dark;
        border-radius: 5rem;
        transition: all 0.3s ease-in;
        transform: translateX(-182px);
    }

    &:hover {
        color: $brand_white;
        &::after {
            transform: translateX(10px);
        }

        svg.svg-arrow {
            z-index: 10;
            width: 25%;
            height: 100%;
            background: white;
            border-radius: 5rem;
            transform: translate(-5px, -15px);
            fill: black;

            use {
                transform: translate(15px, 15px);
            }
        }
    }
}

@mixin button_primary {
    @include button();
    @include transition();
    border: 2px solid $brand_primary;

    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: $brand_primary;
        border-radius: 5rem;
        transition: all 0.3s ease-in;
        transform: translateX(-182px);
    }

    .acfm-btn__label {
        z-index: 10;
    }

    &:hover {
        z-index: 10;
        color: $brand_white;

        &::after {
            transform: translateX(10px);
        }

        svg.svg-arrow {
            z-index: 10;
            width: 25%;
            height: 100%;
            background: white;
            border-radius: 5rem;
            transform: translate(-5px, -15px);
            fill: black;

            use {
                transform: translate(15px, 15px);
            }
        }
    }
}

@mixin button_outline {
    @include button();
    @include transition();
    color: $brand_white;

    border: 2px solid $brand_primary;

    @include buttonEffect($brand_primary, $brand_primary);
}

@mixin button_more {
    @include button();

    display: flex;
    align-items: center;
    padding: 0;
    font-weight: $font_weight_medium;
    color: $brand_primary;
    text-decoration: underline;

    &::after {
        width: 2.4rem;
        height: 2.4rem;
        margin-left: 0.5rem;
        content: '';
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"><path d="M1.09229 9.1c-.49706 0-.9.40294-.9.9 0 .4971.40294.9.9.9V9.1Zm14.63641 1.5364c.3515-.3515.3515-.92132 0-1.27279l-5.7276-5.72757c-.35145-.35147-.9213-.35147-1.27278 0-.35147.35147-.35147.92132 0 1.27279L13.8195 10l-5.09118 5.0912c-.35147.3514-.35147.9213 0 1.2728.35148.3514.92132.3514 1.27278 0l5.7276-5.7276ZM1.09229 10.9H15.0923V9.1H1.09229v1.8Z" class="arrow-color"/></svg>');
    }

    &:hover,
    &:focus {
        color: $brand_primary_active;
    }
}
